<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，唯一特性 -->
<mapper namespace="com.sunhao.stockprojecteg.dao.mapper.BaseDataMapper">
    <select id="getData" resultType="com.sunhao.stockprojecteg.model.BaseStockData">
        select * from stock_basedata
    </select>
    <!--[{"amplitude":"1","closePrice":"1.0","data":"1","highPrice":"1.0","lowPrice":"1.0","openPrice":"1.0","risePrice":"1.0","uuid":"1","volume":"1"}]-->
    <update id="saveDateByNet">
        INSERT INTO stock_basedata (data,openPrice, closePrice,risePrice,amplitude ,highPrice,lowPrice,volume,turnover,
        handTurnoverRate,code,country,codeName)
        VALUES
        <foreach collection="stockDataList" item="item" index="index" separator=",">
            ( #{item.data},#{item.openPrice},#{item.closePrice},#{item.risePrice},#{item.amplitude},#{item.highPrice},
             #{item.lowPrice},#{item.volume},#{item.turnover},#{item.handTurnoverRate},#{item.code},#{item.country},
             #{item.codeName})
        </foreach>
    </update>

    <update id="saveBaseData">
        INSERT INTO
          stock_list (ts_code,symbol,name,area,industry,fullname,enname,market,exchange,curr_type,list_status,list_date
          ,delist_date,is_hs)
        VALUES
        <foreach collection="stockBaseInfoList" item="item" separator=",">
            (#{item.tsCode},#{item.symbol},#{item.name},#{item.area},#{item.industry},#{item.fullname},#{item.enname},
            #{item.market},#{item.exchange},#{item.currType},#{item.listStatus},#{item.listDate},#{item.delistDate},
             #{item.isHs})
        </foreach>
    </update>

</mapper>